Q1 In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

In [ ]:
values - 'hello', -87.8, 6
expressions - * , - , / , +

Q2. What is the difference between string and variable

In [ ]:
Variable is a container which holds any value. for ex- a =10. here a is variable which holds value 10
string is data type which can be written within "" , '', """""". for ex- '23'

Q3. Describe three different data types.

In [ ]:
integer - integer is all positive and negative number including 0 except numbers with decimal values.
float - float is all positive and negative number having decimal values.
string - string is text data type which can be written in quotations '',"",""""""

Q4. What is an expression made up of? What do all expressions do?

In [ ]:
an expression is made up of different variables and data types. by execution of the expression, we are able
to derive some values.

Q5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
by execution of an expression, we are able to get the results on the other hand a statement is an object which do not return anything but it can be used to form an expression.

Q6. After running the following code, what does the variable bacon contain?
bacon = 22, 
bacon + 1

In [ ]:
22

Q7. What should the values of the following two terms be?
'spam' + 'spamspam' ,
'spam' * 3

In [ ]:
'spamspamspam'

Q8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
In python, a variable cannot be defined by an integer or a variable starting with an integer. it will give a syntax error.

Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
int
str
float

Q10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

In [ ]:
Here 99 is an integer and other two objects are string. we cannot apply arithmetic expressions with different data types. 
that is why we are facing an error. For error free execution, we should have same data type to perform an expression. 
we need to write 99 as a string.